<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一机多开教程</title>
</head>
<body>
<%= require('@pages/common/public/header.ejs')() %>
<h1 style="text-align: center;margin-bottom: 40px">一机多开教程</h1>
<div class="container" style="margin-bottom: 70px">
    <p>这一章主要介绍如何一机多开，以及一机多开的脚本</p>
    <p>主要分为下面的章节</p>
    <ul>
        <li>一机多开场景
            <ul>
                <li>
                    win10
                </li>
                <li>
                    linux
                </li>
            </ul>
        </li>

        <li>
            多开脚本「python」
            <ul>
                <li>
                    win10
                </li>
                <li>
                    linux
                </li>
            </ul>
        </li>

        <li>
            问题以及注意事项
        </li>
    </ul>
</div>

<div class="container">
    <div class="main" style="width: 70%;margin: auto">
        <h3>一机多开</h3>
        <h4 style="text-align: center;margin-top: 20px;margin-bottom: 20px">win10</h4>

        <p>
            多开的奥秘在于换端口，这里，假设你从官方的 <a href="https://github.com/gpfs-group/gpfs-mining">github</a> 下载下来了文件，解压出来，会发现有以下两个文件
        </p>

        <ul>
            <li><b>gps.exe</b></li>
            <li><b>run.bat</b></li>
        </ul>

        <p>
            <b>run.bat</b> 是 <b>win10</b> 中的批处理文件，你可以简单的理解成是一个在 <b>win10</b> 下面运行的脚本。
        </p>
        <p>
            <b>gps.exe</b> 便是挖矿程序，<a href="https://github.com/gpfs-group/gpfs-litepaper">白皮书</a>自己看，这里就不过多陈述了。
        </p>

        <p>
            这里假设你将上述压缩包解压到了 <b>D</b> 盘中，路径是 <b>D:/gps</b>
        </p>
        <p>
            为了让管理更加方便，这里我给出我的多节点建议，请看下面的操作。「这里只是简单的讲一下手动操作的过程，其实，如果节点很多，比如 <b>20</b> 个以上，一个个手动来还是很累的，这个时候，更建议使用下面的脚本来。」
        </p>
        <p>
            在 <b>D:/gps</b> 下新建一个目录 <b>0</b>,并且将上面解压出来的文件放在该目录下，也就是，路径 <b>D:/gps/0</b> 里面有上面解压出来的两个文件。
        </p>
        <p>
            编写 <b>run.bat</b> 脚本，内容如下
        </p>
        <p style="margin-left: 20px;color: gray;margin-top: 30px;margin-bottom: 30px">
            set IPFS_PATH=D:/gps/0/data<br/>
            gpfs.exe daemon  --init --miner-address=你的BSC钱包地址<br/>
            pause
        </p>
        <p>
            上述参数解析
        </p>
        <ul>
            <li><b>D:/gps/0/data</b></li>
            <ul>
                <li>
                    这个是存放该节点各种文件的地方，<b>data</b> 文件夹不用事先创建，会自动生成
                </li>
                <li>
                    该目录里面存放着各种文件，包括节点配置等
                </li>
            </ul>
            <li>
                <b>BSC</b> 钱包地址
                <ul>
                    <li><b>BSC</b> 地址和 <b>ETH</b>、<b>HECO</b>、<b>HSC</b>等一系列基于 <b>ETH</b>「或者说 <b>copy</b>」的公链都是互通的，也就是任何有私钥的 <b>ETH</b> 地址都可以</li>
                    <li>如何一瞬间生成上万个地址，推荐该<a href="https://cointool.app/dashboard">网站</a>，有一个批量 <b>ETH</b> 地址生成</li>
                </ul>
            </li>
        </ul>

        <p>这个时候你双击 <b>run.bat</b> 就会弹出一个命令行窗口，如果一切顺利，那么，窗口下面显示 <b>Daemon is ready</b> </p>
        <p>假设不幸，你没有出现这个窗口可能有以下原因</p>
        <ul>
            <li>路径格式错误，是 <b>/</b> 不是 <b>\</b>，好好对照上面</li>
            <li>系统是阉割版，出现了各种预料之外的错误</li>
        </ul>
        <p>
            运行正常会在 <b>data</b> 目录里，出现各种文件，其中最重要的是 <b>config</b>
        </p>
        <p>
            节点在运行的过程中，默认使用端口为 <b>5001</b> 和 <b>8080</b>，请在 <b>config</b> 文件里找到下面的文字。
        </p>
        <p style="margin-left: 20px;color: gray;margin-top: 30px;margin-bottom: 30px">
            "API":"ip4/127.0.0.1/tcp/5001",<br/>
            "Gateway":"/ip4/127.0.0.1/tcp/8080"
        </p>

        <p>
            OK，这里假设你又创建了一个新的目录，路径为 <b>D:/gps/1</b> ，里面的文件为解压包的文件，也就是
        </p>
        <ul>
            <li><b>gpfs.exe</b></li>
            <li><b>run.bat</b></li>
        </ul>
        <p>你修改 <b>run.bat</b> 的内容为</p>
        <p style="margin-left: 20px;color: gray;margin-top: 30px;margin-bottom: 30px">
            set IPFS_PATH=D:/gps/1/data<br/>
            gpfs.exe daemon  --init --miner-address=另一个BSC钱包地址<br/>
            pause
        </p>
        <p>
            假设这个时候，你直接点击 <b>run.bat</b> 的话，会出现端口已经被使用错误，看不懂的可以找英语翻译。
        </p>
        <p>
            而你要做的就是把 <b>config</b> 那两个端口换成其他的就行了，这个时候就体现出目录的好处了。
        </p>
        <p>
            假设你的路径是 <b>D:/gps/2</b>
        </p>
        <p>
            那么，你的 <b>config</b> 相关的参数可以换成
        </p>
        <p style="margin-left: 20px;color: gray;margin-top: 30px;margin-bottom: 30px">
            "API":"ip4/127.0.0.1/tcp/5002",<br/>
            "Gateway":"/ip4/127.0.0.1/tcp/8082"
        </p>
        <p>这样管理起来非常方便</p>
        <p>另外，我有 <b>20</b> 个节点是不是每次都要自己手动点一点，虽然，很快，但是，不够优雅，这里给大家教一下如何一键开启所有脚本</p>
        <p>新创建一个 <b>start.bat</b> 的文件，内容如下</p>

        <p style="margin-left: 20px;color: gray;margin-top: 30px;margin-bottom: 30px">
            start D:/gps/1/run.bat<br/>
            start D:/gps/2/run.bat<br/>
            start D:/gps/3/run.bat<br/>
            start D:/gps/4/run.bat<br/>
        </p>

        <P>之后双击 <b>start.bat</b> 就好了</P>

        <p>上面便是 <b>win10</b> 多开的方法</p>

        <h4 style="text-align: center;margin-top: 20px;margin-bottom: 20px">linux</h4>
        <p>
            <b>linux</b> 其实和 <b>win10</b> 一摸一样，只不过，<b>win10</b> 的批处理脚本是 <b>bat</b> ，<b>linux</b> 的是 <b>sh</b>
        </p>
        <p>
            创建一个叫做 <b>run.sh</b> 的文件，里面的内容如下
        </p>
        <p style="margin-left: 20px;color: gray;margin-top: 30px;margin-bottom: 30px">
            export IPFS_PATH=存放目录<br/>
            nohup ./gpfs daemon --init --miner-address=你的BSC钱包地址 &
        </p>
        <p>
            另外，你要给 <b>gpfs</b> 可执行权限。
        </p>
        <p style="margin-left: 20px;color: gray;margin-top: 30px;margin-bottom: 30px">
            chmod 777 gpfs
        </p>
        <p>
            运行的话，使用 <b>sh run.sh</b>
        </p>
        <p>
            一般用 <b>linux</b> 多少懂点，就不多说了，不懂得，可以转到 <b>win10</b>
        </p>
        <p>
            还有在 <b>linux</b> 多开运行还需要设置 <b>UDP</b> 缓冲大小，否则会报错
        </p>
        <p style="margin-left: 20px;color: gray;margin-top: 30px;margin-bottom: 30px">
            sysctl -w net.core.rmem_max=5000000
        </p>
    </div>

    <div class="main" style="width: 70%;margin: auto">
        <h3 style="margin-top: 40px;margin-bottom: 40px">多开脚本</h3>
        <p>
            代码下载下面的压缩包即可。里面 <b>win10</b> 和 <b>linux</b> 的都有。
        </p>
        <a href="/static/win10_ubuntu.zip" download="win10_ubuntu.zip">下载ZIP</a>
    </div>

    <div class="main" style="width: 70%;margin: auto">
        <h3 style="margin-top: 40px;margin-bottom: 40px">注意事项</h3>
        <ul>
            <li>我的电脑能开多少个？</li>
            <ul>
                <li>
                    没有实际测过极限，理论上可以无限，主要是取决于你的内存、带宽、CPU等参数，一般来说，节点在保证稳定的情况下追求数量，而不是，假装机海结果全部掉线
                </li>
            </ul>
            <li>
                为什么我多开了，在浏览器上查不到？
            </li>
            <ul>
                <li>时间不足，可以等半小时</li>
                <li>开的太多，导致资源紧张，使得部分开的节点无效</li>
                <li>主服务器在国外，所以延迟很大，动不动就掉线</li>
                <ul>
                    <li>解决方法</li>
                    <ul>
                        <li>购买香港服务器，阿里云新人优惠力度很大</li>
                        <li>使用技术手段进行突破</li>
                        <li>忍着</li>
                    </ul>
                </ul>
            </ul>
            <li>掉线后需要重启吗？</li>
            <ul>
                <li>不需要，会有重连机制</li>
                <li>稍后推出邮件监控试运行服务，比如，你设置离线率为 5%，当超过这个阈值的时候会自动给你邮箱发邮件</li>
            </ul>
        </ul>
    </div>


    <div style="margin-top: 100px;height: 30px">

    </div>
</div>

</body>
</html>
