<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>版本介绍</title>
</head>
<body>
<%= require('@pages/common/public/header.ejs')() %>
<h1>版本介绍</h1>
<div class="container">
    <ul>
        <li>
            版本0.8.1
            <ul>
                <li>修复了频繁离线</li>
            </ul>
        </li>
        <li>版本0.8.0
            <ul>
                <li>最开始的版本</li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
