<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K 线图工具</title>
</head>
<body>
<%= require('@pages/common/public/header.ejs')() %>
<h1>K 线图工具</h1>
<div class="container">
    <div class="row">
        <ul>
            <li> K 线图工具</li>
            <ul>
                <li>AVEDEX
                    <ul>
                        <li>
                            <a href="https://avedex.cc/token/0x5e772acf0f20b0315391021e0884cb1f1aa4545c-bsc">地址一</a>
                        </li>
                        <li>
                            <a href="https://avedex.org/token/0x5e772acf0f20b0315391021e0884cb1f1aa4545c-bsc">备用地址一</a>
                        </li>
                    </ul>
                </li>
                <li>dex
                    <ul>
                        <li>
                            <a href="https://dex.guru/token/0x5e772acf0f20b0315391021e0884cb1f1aa4545c-bsc">地址一</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>
</div>
<div style="height: 30px;margin-top: 70px">

</div>
</body>
</html>
