<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<div>
    <h1 style="margin-top: 40px">GPFS 小工具</h1>
    <p style="text-align: center">
        本工具纯属个人兴趣所写，目前全部免费使用
    </p>
    <p style="text-align: center">
        <a href="https://github.com/benpaodewoniu/gpfstools">开源代码</a>
    </p>
    <div class="container main">
        <h5 class="sub-title">教程</h5>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">一机多开</h5>
                        <p class="card-text">配合生成脚本<br/>卷起来</p>
                        <a href="/moreport.html" class="btn btn-primary">点击尝试</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">版本介绍</h5>
                        <p class="card-text">GPFS各版本的优劣<br/>让时间记述</p>
                        <a href="/version.html" class="btn btn-primary">点击尝试</a>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="sub-title">工具「无需登录」</h5>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">多节点状态查询</h5>
                        <p class="card-text">根据填写地址一次性查询多个节点状态</p>
                        <a href="/state.html" class="btn btn-primary">点击尝试</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">多节点支票兑换</h5>
                        <p class="card-text">代码运行均在本地<br/>放心使用</p>
                        <a href="/multicash.html" class="btn btn-primary">点击尝试</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">多节点支票汇总</h5>
                        <p class="card-text">所有代码均运行在本地<br/>放心使用</p>
                        <a href="/collection.html" class="btn btn-primary">点击尝试</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">多节点分发 BNB</h5>
                        <p class="card-text">还在写<br/>...</p>
                        <a href="#" class="btn btn-primary">点击尝试</a>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="sub-title">工具「需登录」</h5>
        <div class="row" style="margin-top: 30px">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">后台登录</h5>
                        <p class="card-text">使用主 GPFS 地址注册<br/>功能如右</p>
                        <a href="/login.html" class="btn btn-primary">点击登录</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <!--                    <img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">多节点监控</h5>
                        <p class="card-text">设置阈值，监控在线率<br/>自动发送邮件</p>
                        <a href="#" class="btn btn-outline-primary disabled">登录后启用</a>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
<div style="height: 30px;margin-top: 70px">

</div>
</body>
</html>
