h1 {
    text-align: center;
    margin-bottom: 20px;
}

.main {
    margin-top: 30px;
}

.card {
    text-align: center;
    margin: auto;
}

.sub-title{
    color: gray;
    margin-top: 10px;
    text-align: center;
}
