<ul class="nav justify-content-center" style="margin-bottom: 60px;margin-top: 10px">
    <li class="nav-item">
        <a class="nav-link active" href="https://www.gpfs.xyz/">GPFS 首页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/">工具首页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/moreport.html">一机多开</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/state.html">状态查询</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/morebnb.html">BNB分发</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/multicash.html">支票兑换</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/collection.html">GPS 归集</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login.html">后台登录</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/benpaodewoniu/gpfstools">开源代码</a>
    </li>
</ul>
