<ul class="nav justify-content-center" style="margin-bottom: 60px;margin-top: 10px">
    <li class="nav-item">
        <a class="nav-link active" href="/">首页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/user.html">个人资料</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/useraddresses.html">地址集</a>
    </li>
</ul>
